* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

strong {
    color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.intro-chunk {
    font-size: 2.75rem;
    max-width: 800px;
    padding: 256px 48px 136px;
}

.intro-chunk h1 {
    font-size: 4rem;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 128px;
}

main {
    background: hsl(0deg, 0%, 60%);
    border-top: solid 16px hsl(0deg, 0%, 40%);
    padding: 168px 0 176px;
}

.card {
    background: hsl(0deg, 0%, 100%);
    border-bottom: solid 16px hsl(0deg, 0%, 40%);
    font-size: 2.5rem;
    padding: 16px 48px 48px;
}

.indented-heading {
    background: hsl(45deg, 100%, 50%);
    border-bottom: solid 16px hsl(45deg, 100%, 40%);
    font-size: 3.25rem;
    line-height: 1;
    margin-left: -80px;
    padding: 48px 80px;
    width: fit-content;
}
